<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.resource-monitor.service</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON__</string>
    <string>__REPO__/scripts/serve.py</string>
    <string>--host</string>
    <string>__RM_BIND_HOST__</string>
    <string>--port</string>
    <string>__RM_PORT__</string>
    <string>--db</string>
    <string>__RM_DB__</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__REPO__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>RM_API_TOKEN_FILE</key>
    <string>__RM_TOKEN_FILE__</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>__REPO__/data/service.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>__REPO__/data/service.stderr.log</string>
</dict>
</plist>
